a {
    color: #35b6b0;
    text-decoration: none;
    font-weight: 600;
}

ul {
    margin:0;
    padding:.5em;
}

li {
    padding:.5em;
}


#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.nav-container {
    width: 100%;
}

.menu-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

@import "_menu.scss";
@import "_auth.scss";
@import "_modal.scss";
@import "_footer.scss";

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 22em;
    height: 42em;
    padding:0em;
    border-radius: 1em;
    box-shadow: .1em 0em 1.5em rgba(0, 0, 0, 0.178);
    background-image:url('./assets/h-waves.png');
}

//layout

.section {
    width:100%;
    height:100%;
    overflow:hidden;
    .container {
        padding:1em 1em 3em 1em;
        background-color: white;
        border-radius: 1.5em 1.5em ;
        box-shadow: 0em -0.2em .7em #0000001a;
        margin-top: 1em;
    }
}

.container.login {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:29em;
}

.menu-header {
    display:flex;
    flex-direction: row;
    height: 4em;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 6em;
    z-index: 9;
}

.events-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 90%;

    align-items:center;
    height:100%;
    .button {
        width: 30%;
        text-align:center;
    }
}
.event-item {
    display:flex;
    flex-direction: column;

    span {
        padding:.2em;
    }
}

//form layouts

.form-control {
    padding: .4em;
    display: flex;
    flex-direction: column;
    width:70%;
    input {
        border-radius: .4em;
        border:solid thin #cdcdcd;
        padding:.7em;
    }
    textarea {
        border-radius: .4em;
        border:solid thin #cdcdcd;
        padding:.7em;
    }
}

.form-actions {
    display:flex;
    flex-direction: column;
    width:70%;
    button {
        padding:.7em;
        margin:.4em 0em;
        border-radius:.4em;
        background-color:#35b6b0;
        color:white;
        border:none;
    }
}


//interation

.button {
    cursor: pointer;
    padding:.5em 1em;
    padding-bottom:.7em;
    background-color:white;
    border-radius: .5em;
    box-shadow: 0em 0em .7em rgba(0, 0, 0, 0.13);
    transition:ease all .5s;
}

.button:hover {
    background-color:#35b6b0;
    color:white;
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.13);
}


//sections 

h1.lp_hglt_cls_events {
    text-align: center;
}

h1.lp_hglt_cls_bookings {
    text-align: center;
}
