a {
  color: #35b6b0;
  text-decoration: none;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: .5em;
}

li {
  padding: .5em;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.nav-container {
  width: 100%;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 1em;
  width: 20em;
}

.nav ul {
  display: none;
}

.nav-tgl {
  display: inline-block;
  cursor: pointer;
  width: 4em;
  height: 4em;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  line-height: 0.6;
  text-align: center;
  z-index: 100;
}

.nav-tgl > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 34px;
  border-radius: 1px;
  background: #293335;
  vertical-align: middle;
}

.nav-tgl > span:after, .nav-tgl > span:before {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #293335;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.nav-tgl > span:before {
  top: -11px;
  left: 3px;
  width: 28px;
}

.nav-tgl > span:after {
  top: 11px;
  left: 6px;
  width: 22px;
}

.nav-tgl:focus {
  outline: none;
}

.nav-tgl:hover > span:after,
.nav-tgl:hover > span:before {
  width: 34px;
  left: 0;
}

.nav:before {
  content: '';
  width: 100vw;
  height: 100vh;
  background: #2a9792;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-clip-path: circle(30px at calc(100% - 2.6em) 2.2em);
          clip-path: circle(30px at calc(100% - 2.6em) 2.2em);
  visibility: hidden;
}

.menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1em;
  margin-top: -4.3em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu.true .nav:before {
  visibility: visible;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.menu.true .nav-tgl > span {
  height: 0;
}

.menu.true .nav-tgl > span:after, .menu.true .nav-tgl > span:before {
  top: 0;
  left: 0;
  width: 34px;
}

.menu.true .nav-tgl > span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu.true .nav-tgl > span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav:before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 22em;
  height: 42em;
  padding: 0em;
  border-radius: 1em;
  margin-left: 1em;
}

.main-menu.true {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22em;
  height: 42em;
  padding: 0em;
  border-radius: 1em;
  margin-left: 1em;
  opacity: 1;
}

.main-menu.true a {
  padding: 1em;
  color: #ffffff;
  font-size: 1.5em;
}

.main-menu.false {
  display: none;
  opacity: 0;
}

.main-menu.false a {
  padding: 1em;
  color: #35b6b0;
  font-size: 1.5em;
}

.menu.false {
  height: 0;
}

img.menu-burger {
  width: 2.5em;
}

.auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1.lp_hglt_cls_login {
  text-align: center;
}

.modal {
  width: 18em;
  margin: 1em;
  padding: 1em;
  max-width: 90%;
  background-color: white;
  -webkit-box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.205);
          box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.205);
  position: fixed;
  top: 20%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1em;
}

.modal__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal__content form .form-control {
  width: 100%;
}

.footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  padding: .5em 1em;
  padding-bottom: .7em;
  background-color: white;
  border-radius: .5em;
  -webkit-box-shadow: 0em 0em 0.7em rgba(0, 0, 0, 0.13);
          box-shadow: 0em 0em 0.7em rgba(0, 0, 0, 0.13);
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.button:hover {
  background-color: #35b6b0;
  color: white;
  -webkit-box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.13);
          box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.13);
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 22em;
  height: 42em;
  padding: 0em;
  border-radius: 1em;
  -webkit-box-shadow: 0.1em 0em 1.5em rgba(0, 0, 0, 0.178);
          box-shadow: 0.1em 0em 1.5em rgba(0, 0, 0, 0.178);
  background-image: url("./assets/h-waves.png");
}

.section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section .container {
  padding: 1em 1em 3em 1em;
  background-color: white;
  border-radius: 1.5em 1.5em;
  -webkit-box-shadow: 0em -0.2em .7em #0000001a;
          box-shadow: 0em -0.2em .7em #0000001a;
  margin-top: 1em;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 6em;
  z-index: 9;
}

.events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90%;
          flex: 1 0 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.events-container .button {
  width: 30%;
  text-align: center;
}

.event-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event-item span {
  padding: .2em;
}

.form-control {
  padding: .4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.form-control input {
  border-radius: .4em;
  border: solid thin #cdcdcd;
  padding: .7em;
}

.form-control textarea {
  border-radius: .4em;
  border: solid thin #cdcdcd;
  padding: .7em;
}

.form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.form-actions button {
  padding: .7em;
  margin: .4em 0em;
  border-radius: .4em;
  background-color: #35b6b0;
  color: white;
  border: none;
}

.button {
  cursor: pointer;
  padding: .5em 1em;
  padding-bottom: .7em;
  background-color: white;
  border-radius: .5em;
  -webkit-box-shadow: 0em 0em 0.7em rgba(0, 0, 0, 0.13);
          box-shadow: 0em 0em 0.7em rgba(0, 0, 0, 0.13);
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.button:hover {
  background-color: #35b6b0;
  color: white;
  -webkit-box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.13);
          box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.13);
}

h1.lp_hglt_cls_events {
  text-align: center;
}

h1.lp_hglt_cls_bookings {
  text-align: center;
}
/*# sourceMappingURL=App.css.map */